<!-- header  -->
<div class="container-fluid first">
    <div class="row">
        <div class="col-md-6">
            <img src="../../assets/image/2LOGO.png" class="img-responsive" height="120px" width="320px">
            <h1 class="glory">WHY CONECT WITH
                <BR> GloryAutoTech?
            </h1>
            <p class="gloryp">Choosing GloryAutoTech as your offshore development service partner is right decision for you as all good things takes time and WebAshlar first researches then starts the work</p>
            <a href="../index.html"><button class="button button1">BACK TO HOME</button></a>
        </div>
        <div class="col-md-6" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
            <img src="../../assets/image/teamwork.png" class="img-responsive" height="500px" width="100%">
        </div>
    </div>
</div>
<!-- end header  -->
<!-- project slider  -->
<div class="container-fluid jumbotron">
    <div class="row">
        <h2 class="text-center">PROJECT</h2>
        <div class="w3-content w3-display-container">
            <img class="mySlides" src="../../assets/image/p1-login.png" style="width:100%" height="500px">
            <img class="mySlides" src="../../assets/image/p1-1.png" style="width:100%" height="500px">
            <img class="mySlides" src="../../assets/image/p1-2.png" style="width:100%" height="500px">
            <img class="mySlides" src="../../assets/image/p1-3.png" style="width:100%" height="500px">
            <img class="mySlides" src="../../assets/image/p1-4.png" style="width:100%" height="500px">
            <img class="mySlides" src="../../assets/image/p1-5.png" style="width:100%" height="500px">
            <img class="mySlides" src="../../assets/image/p1-6.png" style="width:100%" height="500px">
            <img class="mySlides" src="../../assets/image/p1-7.png" style="width:100%" height="500px">
            <img class="mySlides" src="../../assets/image/p1-8.png" style="width:100%" height="500px">
            <img class="mySlides" src="../../assets/image/p1-9.png" style="width:100%" height="500px">
            <img class="mySlides" src="../../assets/image/p1-10.png" style="width:100%" height="500px">

            <button class="w3-button w3-black w3-display-left " onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        </div>
    </div>
</div>
<!-- end project slider  -->